.w3-button {
    bottom: 25%;
    border-bottom: 2px solid #0b3f77;
    color: #0b3f77;
    padding: 0.5% 0.5%;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    font-size: 1em;
    margin:7% 1%;
    cursor: pointer;
}

.w3-button:hover {
    background-color: transparent;
    border: 2px solid #0b3f77;
    color: #0b3f77;   
}

/* Hide the images by default */
.mieSlides {
    display: none;
    width: 68%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.mieSlides1 {
    display: block;
    width: 68%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.w3-center {
    margin-top:30%;
}

.w3-section {
    text-align: center;
    padding-top: 9%;
}